n8n_workflow_it_jobs_simple.json
{
  "name": "HU IT Jobs Scraper - Simple",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 6 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 480]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "profession.hu"
            },
            {
              "name": "url",
              "value": "https://profession.hu/allasok/it"
            }
          ]
        }
      },
      "id": "sources-set",
      "name": "Job Sources",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "nofluffjobs.com"
            },
            {
              "name": "url",
              "value": "https://nofluffjobs.com/hu"
            }
          ]
        }
      },
      "id": "sources-set-2",
      "name": "Job Sources 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "cvonline.hu"
            },
            {
              "name": "url",
              "value": "https://cvonline.hu/allasok/it"
            }
          ]
        }
      },
      "id": "sources-set-3",
      "name": "Job Sources 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "jobline.hu"
            },
            {
              "name": "url",
              "value": "https://jobline.hu/allasok/it"
            }
          ]
        }
      },
      "id": "sources-set-4",
      "name": "Job Sources 4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 600]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "worki.hu"
            },
            {
              "name": "url",
              "value": "https://worki.hu/allasok/it"
            }
          ]
        }
      },
      "id": "sources-set-5",
      "name": "Job Sources 5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 700]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "dreamjobs.hu"
            },
            {
              "name": "url",
              "value": "https://dreamjobs.hu/allasok/it"
            }
          ]
        }
      },
      "id": "sources-set-6",
      "name": "Job Sources 6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 800]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "headers": {
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
          }
        }
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "job_title_raw",
              "cssSelector": "h2.job-title, .job-title, h3 a, .position-title"
            },
            {
              "key": "company_name",
              "cssSelector": ".company-name, .employer, .company"
            },
            {
              "key": "location_city",
              "cssSelector": ".location, .city, .place"
            },
            {
              "key": "description_raw",
              "cssSelector": ".description, .job-description, .content"
            },
            {
              "key": "salary_raw",
              "cssSelector": ".salary, .wage, .compensation"
            },
            {
              "key": "apply_url",
              "cssSelector": "a[href*='apply'], a[href*='jelentkez'], .apply-link"
            }
          ]
        }
      },
      "id": "html-extract",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source",
              "value": "={{ $('Job Sources').item.json.name }}"
            },
            {
              "name": "source_url",
              "value": "={{ $('Job Sources').item.json.url }}"
            },
            {
              "name": "scraped_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "source-meta-set",
      "name": "Add Source Meta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process and structure data\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  // Extract basic fields\n  const jobTitleRaw = item.json.job_title_raw || '';\n  const companyName = item.json.company_name || '';\n  const locationCity = item.json.location_city || '';\n  const descriptionRaw = item.json.description_raw || '';\n  const salaryRaw = item.json.salary_raw || '';\n  const applyUrl = item.json.apply_url || '';\n  \n  // Simple role categorization\n  const titleText = (jobTitleRaw + ' ' + descriptionRaw).toLowerCase();\n  let roleCategory = 'Other';\n  if (titleText.includes('backend')) roleCategory = 'Backend';\n  else if (titleText.includes('frontend')) roleCategory = 'Frontend';\n  else if (titleText.includes('fullstack') || titleText.includes('full-stack')) roleCategory = 'Full-stack';\n  else if (titleText.includes('devops')) roleCategory = 'DevOps';\n  else if (titleText.includes('data') || titleText.includes('ml') || titleText.includes('ai')) roleCategory = 'Data/ML';\n  else if (titleText.includes('qa') || titleText.includes('test')) roleCategory = 'QA/Testing';\n  else if (titleText.includes('mobile') || titleText.includes('android') || titleText.includes('ios')) roleCategory = 'Mobile';\n  \n  // Simple seniority detection\n  let seniority = 'unspecified';\n  if (titleText.includes('junior') || titleText.includes('kezdő')) seniority = 'junior';\n  else if (titleText.includes('senior') || titleText.includes('tapasztalt')) seniority = 'senior';\n  else if (titleText.includes('lead') || titleText.includes('principal')) seniority = 'lead';\n  \n  // Simple work model detection\n  let workModel = 'on-site';\n  if (titleText.includes('remote') || titleText.includes('táv')) workModel = 'remote';\n  else if (titleText.includes('hybrid') || titleText.includes('hibrid')) workModel = 'hybrid';\n  \n  // Create processed item\n  const processedItem = {\n    source: item.json.source || '',\n    source_url: item.json.source_url || '',\n    scraped_at: item.json.scraped_at || '',\n    job_title_raw: jobTitleRaw,\n    job_title_norm: jobTitleRaw.trim(),\n    role_category: roleCategory,\n    seniority: seniority,\n    work_model: workModel,\n    company_name: companyName,\n    location_city: locationCity,\n    location_country: 'HU',\n    description_raw: descriptionRaw,\n    description_excerpt: descriptionRaw.replace(/<[^>]+>/g, '').trim().substring(0, 300),\n    salary_raw: salaryRaw,\n    employment_type: 'full-time',\n    contract_type: 'állandó',\n    company_type: 'vállalat',\n    apply_url: applyUrl,\n    posted_at: new Date().toISOString(),\n    valid_until: '',\n    benefits_raw: '',\n    benefits_parsed: '',\n    must_have_stack: '',\n    nice_to_have_stack: '',\n    languages: '',\n    salary_min: null,\n    salary_max: null,\n    salary_currency: null,\n    salary_gross_net: 'unknown'\n  };\n  \n  processedItems.push(processedItem);\n}\n\nreturn processedItems;"
      },
      "id": "js-process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "filePath": "/data/it_jobs_daily_{{ $now.format('YYYY-MM-DD') }}.xlsx",
        "options": {
          "sheetName": "daily_{{ $now.format('YYYY-MM-DD') }}",
          "operation": "write"
        }
      },
      "id": "write-daily-excel",
      "name": "Write Daily Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourcompany.com",
        "toEmail": "admin@yourcompany.com",
        "subject": "IT állások – napi összesítő {{ $now.format('YYYY-MM-DD') }}",
        "message": "Napi összesítő:\n\nÚj állások: {{ $('Process Data').all().length }}\nMódosult állások: 0\n\nForrások:\n- profession.hu\n- nofluffjobs.com\n- cvonline.hu\n- jobline.hu\n- worki.hu\n- dreamjobs.hu\n\nCsatolmány: napi Excel fájl",
        "attachments": [
          {
            "name": "daily_jobs_{{ $now.format('YYYY-MM-DD') }}.xlsx",
            "data": "={{ $binary.data }}"
          }
        ]
      },
      "id": "send-email-report",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Daily Cron Trigger": {
      "main": [
        [
          {
            "node": "Job Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job Sources 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Sources": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Sources 2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Sources 3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Sources 4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Sources 5": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Sources 6": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Add Source Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Source Meta": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Write Daily Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Daily Excel": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
